<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title></title>
</head>
<body>
<button onclick="handleWeiboLogin()">weibo</button><br />
<span id="qqLoginBtn"></span>
<a th:href="'https://www.facebook.com/v3.2/dialog/oauth?client_id=' + ${fb.appId} + '&redirect_uri=' + ${fb.callbackUrl} + '&state=' + ${fb.corsCheckParam}">facebook</a>
<script type="text/javascript" charset="utf-8"
        src="https://connect.qq.com/qc_jssdk.js"
        th:attr="data-appid=${qq.appId},data-redirecturi=${qq.redirectUri}"
></script>
<script th:inline="javascript">
QC.Login({
    btnId: 'qqLoginBtn'
})
function handleWeiboLogin() {
    location.href = 'https://api.weibo.com/oauth2/authorize?client_id=' + [[${weibo.appId}]] + '&response_type=code&redirect_uri=' + [[${weibo.callbackUri}]]
}
</script>
</body>
</html>